

.progress {
    width: 300px;
    display: inline-block;
    height: 20px;
    border: 1px solid lightgrey;
    border-radius: 5px;
}

.progress-bar {
    width: 60%;
    background-color: grey;
    height: 100%;
    color: white;
    text-align: center;
    line-height: 20px;
}